/.vscode
/arbol_rojinegro.dot
/arbol_rojinegro.png
/c_cpp_properties.json
/Ejercicio01.Act12.cpp
/Ejercicio01.Act12.exe
/Ejercicio01_Act06.cpp
/Ejercicio01_Act06.exe
/Ejercicio01_Act09.exe
/Ejercicio01_Act10.cpp
/Ejercicio01_Act10.exe
/Ejercicio02_Act06.cpp
/Ejercicio02_Act06.exe
/Ejercicio02_Act10.cpp
/Ejercicio02_Act10.exe
/Ejercicio02_Act9.cpp
/Ejercicio02_Act9.exe
/Ejercicio02_Lab05.cpp
/Ejercicio03_Act09.cpp
/Ejercicio03_Act09.exe
/Ejercicio03_Act10.cpp
/Ejercicio03_Act10.exe
/Ejercicio03_Act6.cpp
/Ejercicio03_Act6.exe
/Ejercicio03_Lab05.cpp
/Ejercicio04_Act06.cpp
/Ejercicio04_Act06.exe
/Ejercicio04_Act09.cpp
/Ejercicio04_Act09.exe
/Ejercicio04_Lab05.cpp
/Ejercicio05_Act06.cpp
/Ejercicio05_Act06.exe
/Ejercicio07_Act06.cpp
/Ejercicio07_Act06.exe
/Ejercicio2.cpp
/Lab2_Ejer2.cpp
/Lab4_Ejer2.cpp
/launch.json
/settings.json